.gallery-grid .image{
    width: 100%;
    height: 26rem;
    overflow: hidden;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    position: relative;
}

.image > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: 2s ease-in;
    -webkit-transition: 2s ease-in;
    -moz-transition: 2s ease-in;
    -ms-transition: 2s ease-in;
    -o-transition: 2s ease-in;
}

.image .image-options-overlay{
    background-color: rgba(0, 0, 0, 0.486);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: .8rem 1rem .8rem;
}

.image-options-overlay p{
    color: white;
    margin: 0 0 1rem 0;
    font-size: 1.2rem;
}

.options-buttons-container button{
    width: 2.4rem;
    height: 2.4rem;
    border: none;
    margin: 0 1.2rem 0 0;
    padding: .4rem;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}

.options-buttons-container .edit{
    background-color: var(--edit-icon-bg);
}

.options-buttons-container .delete{
    background-color: var(--delete-icon-bg);
}

.options-buttons-container .download{
    background-color: var(--download-icon-bg);
}

.options-buttons-container button img{
    width: 100%;
}

/* hover styles and animations */
.image > img:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.options-buttons-container .edit:hover{
    transition: .2s ease ;
    box-shadow: 0 0 1rem #7f59a6a1;
    -webkit-transition: .2s ease ;
    -moz-transition: .2s ease ;
    -ms-transition: .2s ease ;
    -o-transition: .2s ease ;
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}

.options-buttons-container .edit:hover img{
    animation: pencil .9s alternate;
    -webkit-animation: pencil .9s alternate;
}

@keyframes pencil {
    0%{
        transform: rotateZ(0);
        -webkit-transform: rotateZ(0);
        -moz-transform: rotateZ(0);
        -ms-transform: rotateZ(0);
        -o-transform: rotateZ(0);
}
    50%{
        transform: rotateZ(40deg);
        -webkit-transform: rotateZ(40deg);
        -moz-transform: rotateZ(40deg);
        -ms-transform: rotateZ(40deg);
        -o-transform: rotateZ(40deg);
}

    100%{
        transform: rotateZ(0);
        -webkit-transform: rotateZ(0);
        -moz-transform: rotateZ(0);
        -ms-transform: rotateZ(0);
        -o-transform: rotateZ(0);
    }
}

.options-buttons-container .delete:hover{
    transition: .2s ease ;
    box-shadow: 0 0 1rem #a65959a6;
    -webkit-transition: .2s ease ;
    -moz-transition: .2s ease ;
    -ms-transition: .2s ease ;
    -o-transition: .2s ease ;
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}

.options-buttons-container .delete:hover img{
    animation: trash .9s alternate;
    -webkit-animation: trash .9s alternate;
}

@keyframes trash {
    0%{
        transform: rotateZ(0);
        -webkit-transform: rotateZ(0);
        -moz-transform: rotateZ(0);
        -ms-transform: rotateZ(0);
        -o-transform: rotateZ(0);
}
    25%{
        transform: rotateZ(40deg);
        -webkit-transform: rotateZ(40deg);
        -moz-transform: rotateZ(40deg);
        -ms-transform: rotateZ(40deg);
        -o-transform: rotateZ(40deg);
}

    70%{
        transform: rotateZ(-40deg);
        -webkit-transform: rotateZ(-40deg);
        -moz-transform: rotateZ(-40deg);
        -ms-transform: rotateZ(-40deg);
        -o-transform: rotateZ(-40deg);
}

    100%{
        transform: rotateZ(0);
        -webkit-transform: rotateZ(0);
        -moz-transform: rotateZ(0);
        -ms-transform: rotateZ(0);
        -o-transform: rotateZ(0);
    }
}

.options-buttons-container .download:hover{
    box-shadow: 0 0 1rem #597fa69c;
    transition: .2s ease ;
    -webkit-transition: .2s ease ;
    -moz-transition: .2s ease ;
    -ms-transition: .2s ease ;
    -o-transition: .2s ease ;
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}

.options-buttons-container .download:hover img{
    animation: download .9s forwards;
    -webkit-animation: download .9s forwards;
}

@keyframes download {
    0%{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
    50%{
        transform: scale(0.6);
        -webkit-transform: scale(0.6);
        -moz-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -o-transform: scale(0.6);
}

    70%{
        transform: scale(1.4);
        -webkit-transform: scale(1.4);
        -moz-transform: scale(1.4);
        -ms-transform: scale(1.4);
        -o-transform: scale(1.4);
}

    100%{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
}